<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Transactional Account Balances</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-2">
    <h3> Transactional Account Balances</h3>
    <div class="card">
        <div class="card-body">
            <div th:switch="${accountsResponse}" class="container my-5">

                <div class="col-md-10">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Account Number</th>
                                <th>Account Type</th>
                                <th>Account Balance</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="transactionalAccount : ${accountsResponse.getTransactionalAccounts()}">
                                <td th:text="${transactionalAccount.getAccountNumber()}"></td>
                                <td th:text="${transactionalAccount.getAccountType()}"></td>
                                <td th:text="${transactionalAccount.getAccountBalance()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <p class="my-5">
                    <a href="/" class="btn btn-primary">
                        <i class="fas fa-undo ml-2"> back </i></a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>

</html>